<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Hem</title>
</head>
<body>
    <header>
        <a href="index.html"><img src="logos/1200KVADRATRed.png" alt="1200 kvadrats logo red" width="70px"></a>
        <ul>
            <li><a href="index.html">Hem</a></li>
            <li><a href="Fritidsgården.html">Fritidsgården</a></li>
            <li><a href="Verksamheter.html">Verksamheter</a></li>
            <li><a href="Om oss.html">Om oss</a></li>
            <li><a href="#">Boka lokal</a></li>
            <li><a href="Profil.html">Profil</a></li>
        </ul>
    </header>

    <section class="container">
        <h1>The Body</h1>
    </section>


    <footer>
        <img src="logos/1200KVADRATRed.png" alt="1200 kvadrat logo" width="70px">
        <img src="logos/gbglogga1.png" alt="Göteborg logo" width="70px">
        <h3>Mandolongatan 47, 421 45 Västra Frölunda  |  1200kvadrat@goteborg.com</h3>
        <img src="logos/FacebookLogo.png" alt="Facebook logo" width="70px">
        <img src="logos/InstagramLogo.png" alt="Instagram logo" width="70px">
        <img src="logos/YoutubeLogo.png" alt="Youtube logo" width="70px">
    </footer>
</body>
</html>