@mixin aButtonStyle() {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(235, 131, 71);
    font-size: 20px;
    margin: 10px;
    letter-spacing: 2px;
}
@mixin aButtonStyleHover() {
    background: rgb(235, 131, 71);
    color: $primaryBG;
    transition:0.5s;
    transition-delay: 1s;
}
@mixin aButtonStyleSpan() {
    position: absolute;
    display: block;
    background: rgb(235, 131, 71);
}
@mixin aButtonStyleSpanFirstChild() {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}
@mixin aButtonStyleFirstChildHover() {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s;
}
@mixin aButtonStyleSpanSecondChild() {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
    transition-delay: 0.25s;
}
@mixin aButtonStyleSecondChildHover() {
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.25s;
    transition-delay: 0.25s;
}
@mixin aButtonStyleSpanThirdChild() {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s;
    transition-delay: 0.5s;
}
@mixin aButtonStyleThirdChildHover() {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.25s;
    transition-delay: 0.5s;    
}
@mixin aButtonStyleSpanFourthChild() {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
    transition-delay: 0.75s;
}
@mixin aButtonStyleFourthChildHover() {
    transform: scaleY(1);
    transform-origin: right;
    transition: transform 0.25s;
    transition-delay: 0.75s;
}

@mixin verksamheterRows() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 24rem;
}

@mixin theTextVerksamheter() {
    position: relative;
    width: 50%;
    text-align: center;
    margin: auto;
    top: 0;
    h3{
        margin: auto;
        margin-top: 2%;
        width: 50%;
    }
}

@mixin theImageVerksamheter() {
    position: relative;
    top: 2%;
    width: 50%;
    background-size: cover;
    height: 100%;
    img{
        width: 100%;
    }
}

@mixin input() {
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 12px;
    border: none;
    outline: none;
    font-size: 20px;
}
@mixin label() {
    position: relative;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 3px solid black;
}
@mixin labelAfter() {
    content: "";
    position: relative;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(235, 131, 71);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
@mixin content() {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}