@import "./functions";
@import "./variables";

*{
    margin: 0;
}
header{
    position: relative;
    width: 100%;
    height: 2vh;
    background-color: $primaryBG;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-top: 100px;
    padding-bottom: 100px;
}
header .logo{
    margin-left: 100px;
}
header .navigation{
    position: relative;
    transform: translateX(-30%);
    display: flex ;
}
header .navigation li{
    list-style: none;
}
header .navigation li a{
    font-size: 20px;
    color: $textColor;
    margin-left: 40px;
    text-decoration: none;
}
.custom-shape-divider-bottom-1608644418 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1608644418 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1608644418 .shape-fill {
    fill: #FFFFFF;
}

// Container/Body
.container{
    display: flex;
    flex-direction: column;
}

// The image at the top
#the-image{
    position: relative;
    height: 50vh;
    top: -50px;
    z-index: -100;
    img{
        background-size: cover;
        width: 100%;
        height: 50vh;
    }
}

// The event section
#the-events-section{
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    #the-event{
    margin: 0;
    padding: 0;
    width: 30vh;
    height: 30vh;
    #date{
        position: relative;
        transform: translateY(54px);
        padding-left: 10px;
        background-color: $primaryBG;
        width: 35%;
        h3{
            color: rgb(235, 131, 71);
            font-weight: bold;
        }
        h2{
            color: white;
        }
    }
    img{
        width: 30vh;
        height: 30vh;
    }
    h1{
        margin-top: 1rem;
        transform: translateX(25%);
    }
}
}

// The discription about 1200Kvadrat
#about-tolvhundrakvadrat{
    width: 100vh;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 8%;
    h2{
        font-size: 30px;
        margin-bottom: 3%;
    }
    h4{
        font-size: 18px;
    }
}

// The navigation menus at the bottom
#navigaion-buttons{
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    a{
        position: relative;
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(235, 131, 71);
        font-size: 20px;
        margin: 10px;
        letter-spacing: 2px;
    }
    a:hover{
        background: rgb(235, 131, 71);
        color: $primaryBG;
        transition:0.5s;
        transition-delay: 1s;
    }
    a span{
        position: absolute;
        display: block;
        background: rgb(235, 131, 71);
    }
    a span:nth-child(1){
        left: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.25s;

    }
    a:hover span:nth-child(1){
        
        transform: scaleY(1);
        transform-origin: bottom;
        transition: transform 0.25s;
    }
    a span:nth-child(2){
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s;
        transition-delay: 0.25s;
    }
    a:hover span:nth-child(2){
        
        transform: scaleY(1);
        transform-origin: left;
        transition: transform 0.25s;
        transition-delay: 0.25s;
    }
    a span:nth-child(3){
        right: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.25s;
        transition-delay: 0.5s;
    }
    a:hover span:nth-child(3){
        
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.25s;
        transition-delay: 0.5s;
    }
    a span:nth-child(4){
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.25s;
        transition-delay: 0.75s;
    }
    a:hover span:nth-child(4){
        
        transform: scaleY(1);
        transform-origin: right;
        transition: transform 0.25s;
        transition-delay: 0.75s;
    }

}

// footer
footer{
    position: relative;
    width: 100%;
    background-color: $primaryBG;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    h3{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
.custom-shape-divider-top-1608646171 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1608646171 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 59px;
}

.custom-shape-divider-top-1608646171 .shape-fill {
    fill: #FFFFFF;
}