<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Logga in</title>
</head>
<body>
    <header>
        <a href="/" class="logo"><img src="logos/1200KVADRATRed.png" alt="1200 kvadrats logo red" width="70px"></a>
        <ul class="navigation">
            <li><a href="/">Hem</a></li>
            <li><a href="/fritidsgarden">Fritidsgården</a></li>
            <li><a href="/verksamheter">Verksamheter</a></li>
            <li><a href="/omoss">Om oss</a></li>
            <li><a href="/bokalokal">Boka lokal</a></li>
            <li><a href="/profil">Profil</a></li>
        </ul>
        <div class="custom-shape-divider-bottom-1608644418">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>
    </header>
    <section class="container">
        <div id="log-in">
            <div id="the-text">
                <h1>Logga in</h1>
            </div>
            <div id="the-login-section">
                <div id="the-login">
                    <form id="login" action="#">
                        <div id="username-input">
                            <input type="text" name="username" autocomplete="off" required/>
                            <label for="username" id="label-username">
                                <span id="content-username">Kortsnummer</span>
                            </label>
                        </div>
                        <div id="password-input">
                            <input type="password" name="password" autocomplete="off" required/>
                            <label for="password" id="label-password">
                                <span id="content-password">Lössenord</span>
                            </label>
                        </div>
                    </form>
                </div>
                <div id="navigaion-buttons">
                    <!-- Redesigne the button -->
                    <button type="submit">
                        <a href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            skicka
                        </a>
                    </button>
                </div>
            </div>
            <div id="login-as-personal"><div id="navigaion-buttons">
                <a href="/loggain/loggainsompersonal">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Logga in som personal
                </a>
            </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <div id="tolvhundra-gbg-logo">
                <div id="tolvhundra-logo">
                    <a href="/"><img src="logos/1200KVADRATRed.png" alt="1200 kvadrat logo"></a>
                </div>
                <div id="gbg-logo">
                    <a href="https://goteborg.se/wps/portal/start"><img src="logos/gbglogga1.png" alt="Göteborg logo"></a>
                </div>
            </div>
            <h3>Mandolongatan 47, 421 45 Västra Frölunda  |  1200kvadrat@goteborg.com</h3>
            <div id="social-media-logos">
                <div id="facebook-logo">
                    <a href="https://www.facebook.com/1200kvadrat"><img src="logos/FacebookLogo.png" alt="Facebook logo"></a>
                </div>
                <div id="instagram-logo">
                    <a href="https://www.instagram.com/1200kvadrat/?hl=sv"><img src="logos/InstagramLogo.png" alt="Instagram logo"></a>
                </div>
                <div id="youtube-logo">
                    <a href="https://www.youtube.com/user/1200kvadrat"><img src="logos/YoutubeLogo.png" alt="Youtube logo"></a>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-top-1608646171">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>
    </footer>
</body>
</html>